* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  font-size: 62.5%;
}
/* Reset css*/

:root {
  --main-red: #8f0101;
  --secundary-red: #b81515;

  --main-dark: #000000;
  --secundary-dark: #222222;

  --primary-gray: #8c8c8c;
  --secundary-gray: #d9d9d9;

  --secunday-white: #f5f5f5;
  --primary-white: #ffffff;

  /* Colors */

  --text-sm: 1rem;
  --text-md: 2rem;
  --text-xl: 2.4rem;
  --text-2xl: 3.2rem;
  --subtitle: 1.4rem;

  --heading-sm: 2.8rem;
  --heading-md: 3.8rem;
  --heading-xl: 4rem;
  --heading-2xl: 4.8rem;

  /* Text */

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Weight */
}

body {
  font-family: "Open Sans", sans-serif;
}
