* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
a{
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--primary-white);
  font-weight: 600;
}

html {
  font-size: 62.5%;
}
/* Reset css*/

:root {
  --main-red: #8f0101;
  --secundary-red: #b81515;

  --main-dark: #000000;
  --secundary-dark: #222222;

  --primary-gray: #8c8c8c;
  --secundary-gray: #d9d9d9;

  --secunday-white: #f5f5f5;
  --primary-white: #ffffff;

  /* Colors */

  --text-sm: 1rem;
  --text-md: 2rem;
  --text-xl: 2.4rem;
  --text-2xl: 3.2rem;
  --subtitle: 1.4rem;

  --heading-sm: 2.8rem;
  --heading-md: 3.8rem;
  --heading-xl: 4rem;
  --heading-2xl: 4.8rem;

  /* Text */

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Weight */
}

/* Variables */

body {
  font-family: "Open Sans", sans-serif;
}

#app{
  background: var(--main-dark);
}

header{
  background: var(--main-dark);
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 4.8rem;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

header .icon-menu img{
   width: 6.8rem;
   height: 6.4rem;
}

.icon-menu-lg{
  display: none;
}


header nav{
  display: none;
}

input[type="checkbox"]:checked ~nav{
  display: block;
}
input[type="checkbox"]:checked ~nav{
  position: absolute;
  background: var(--main-dark);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  left: 1px;
  top: 1rem;  
}

input[type="checkbox"]:checked ~nav ul{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1rem;
}

input[type="checkbox"]:checked ~ label img{
  opacity: 0;
}

input[type="checkbox"]:checked ~ label::after{
  content: "x";
  font-size: 2.8rem;
  color: var(--primary-white);
  position: absolute;
  top: 2rem;
  opacity: 1;
  right: 4rem;
  z-index: 11;
}

header input[type="checkbox"]{
  position: absolute;
  right: 1rem;
  width: 3rem;
  display: none;
}

/* Logic css creating checkbox toggle*/


@media screen and (min-width: 768px){
    header nav{
       display: flex;
    }
    header nav ul{
       display: flex;
       gap: 4.0rem;
    }
    header .label-menu {
       display: none;
    }
    header ul li a{
      font-size: var(--heading-sm);
    }
}

/* Media Tablet */

@media screen and (min-width:1333px){
   .icon-sm{
     display: none !important;
   }
   .icon-menu-lg{
     display: flex;
     width: 100%;
   }
   header .icon-menu-lg img{
     width: auto ;
   }
   header ul li a:hover {
      color: var(--main-red);
   }
}

/* Media computer screen */